.breadcrumb {
  --bs-breadcrumb-divider-color: #6c747d;
  --bs-breadcrumb-item-active-color: var(--bs-primary);
  margin-bottom: 0;

  .breadcrumb-item {
      font-size: .875rem;
      a {
      color: #6c747d !important;
      text-decoration: none;
      font-size: .875rem;
    }
  }
}
